.container {
  width: 100%;
}

.item {
  overflow: hidden;
  display: flex;
  width: calc(30rem * 8);
  flex-wrap: nowrap;
  flex-direction: row;
  padding: 2rem 0;

  & > div {
    width: 30rem;
    aspect-ratio: 3 / 4;
    color: #fff;
    box-shadow: 0 8px 16px rgb(0 0 0 / 8%), 0 1px 2px rgb(0 0 0 / 4%),
      0 0 0 1px rgb(0 0 0 / 3%);
    margin-right: 2rem;
    background-color: white;
    border-radius: 1.5em;
  }
  transform: translateX();
}
