.container {
  line-height: 0.74;
  width: 100%;
}

.item_wrapper {
  display: inline-flex;
  flex-wrap: nowrap;
  font-size: 4rem;
  text-transform: uppercase;
  letter-spacing: -2px;
  white-space: nowrap;
  & > span {
    display: block;
    margin-right: 2rem;
    user-select: none;
  }
}
