.item_wrapper {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  font-size: 4rem;
  text-transform: uppercase;
  line-height: 0.74;
  letter-spacing: -2px;
  & > span {
    display: block;
    margin-right: 3rem;
  }
}
